
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-meduim;
    src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-Light ;
    src: url(fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-SemiBold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-family:Poppins-Regular;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;}

    p{
        margin-bottom: 1rem;
    }


.side-header .primary-menu{
    background-color: #111418;
    height: 100% !important;
    left:0;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    top:0;
    width: 260px;
    z-index: 2;
}

.navbar>.container-fluid{
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.bg-dark-2{
    background-color: #343a40!important;
}

.navbar-nav{
    width: 100%;
}



 @media (max-width :992px) {
    .side-header .primary-menu{
        height: auto !important;
        overflow: visible;
        width: 100vw;
    }
    #header-nav{
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #111418;
        position: absolute;
        right: 0;
         min-width: 200px;
        top:45px;
       
        
    
    }

    #header-nav ul{
       align-items: flex-start !important;
       padding-left: 20px !important;
    }
    

}

.fa-x{
    display: none !important;
}
/* .img1 {
    transition: transform 0.5s
}*/
 /* .img1:hover .aa{
    transform: scale(1.025);
    visibility: visible;
}  */

/* .aa{
    visibility: visible;
} */

/* .hamada{
    display: none;
} */

/* .portfolio-overlay{
    background: rgba(0,0,0,.7);
    bottom: 0;
    display: flex!important;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
}

.stretched-link::after{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
} */

.box::before{
    content:attr(data-work);
    position: absolute;
    background-color: #111418bd;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: white;
    transition: .3s ;
    border-radius: 6px;
    font-family: Poppins-Regular;
    display: none;
}

.box:hover::before{
    display: flex;
    cursor: pointer;
}

  /* .img1:hover {
    transform: scale(1.025);
   
   
}   */

#main-wrapper{
    margin-left: 260px;
}

#header{
    background-color: #0c0d0d;
}

.nav-link{
    color: rgb(224, 221, 221);
}

.nav-link:hover{
    color: #20c997;
}

.fab{
    font-size: 14px !important;
    color: #aab1b8;

}
.fa-facebook-f:hover{
    color: #3b5998;
}

.fa-twitter:hover{

    color: #00acee;
}

.fa-dribbble:hover{
    color: #ea4c89;
}
.fa-google:hover{
    color: #dd4b39;
}

.fa-github:hover{

    color: #333;
}

.fab2{
    color: #4D555A;
}

#header-nav{
   font-family: Poppins-meduim;
}



@media (max-width: 992px) {
    #main-wrapper{
        width: 100% !important;
         margin-left: 0px; 
    }
    .div{
        width: 100% !important;
    }
    .text-24{
    font-size: calc(1.95rem + 8.4vw)!important;
}
}

@media (max-width: 576px) {
    .descForMe{
        text-align: center;
    }
    .aa{
        display: none !important;
    }
}

.fa-star{
    font-size: 14px;
    margin: -2px;
}

.commentsP span{
    font-family: Poppins-meduim;
    font-weight: 500;
    color: #82878b !important;
}

.commentsP{
    font-family: Poppins-meduim;

}

::placeholder{
    color: #b1b5b9 !important;
}


.contact h2{
    font-family: Poppins-meduim;
}

.contact p{
    font-family: Poppins-Regular;
    color: #4C4D4D;
}

.typed-cursor{
    font-size: 64px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}














/*  */
.side-nav{
    height: 100vh;
    background-color: #111418;
    /* position: fixed; */
   
}

.h-nav{
    
    font-size: 21px;
    font-weight: 500;
    line-height: 25.2px;
}

.social-icons{
    list-style: none;
}

.list-nav{
    color:hsla(0,0%,98%,.9);
    cursor: pointer;
}
.navbar-nav li:hover{
    color: #20c997;
}
.social-icons{
    color:hsla(0,0%,98%,.9);
    cursor: pointer;

}

.big{
    /* width: 100vw; */
    
}
/* .home{
    background-image: url(images/intro-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
} */

.home{
    height: 100vh;
   position: relative;
    background-image: url(images/intro-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    
}
.div{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #111418;
    opacity: 75%;
}

.hireMe{
   
    padding: 12.8px 41.6px;
    border: 3px solid #20c997;
    color: #20c997;
    

}

.hireMe:hover{
    background-color:#20c997 ;
}

.Welcome{
   
    /* margin-left: 230px; */
    z-index: 1000;
}

.Welcome .p1{
    font-size: 28px;
    font-weight: 500;
    line-height: 50.4px;
    font-family: Poppins-meduim;
}

.Welcome .h2{
    /* font-size: 64px; */
    font-size: calc(1.525rem + 3.3vw)!important;
    font-weight: 600;
    line-height: 83.2px;
}

.Welcome .p2{
    font-size: 21px;
    line-height: 37.8px;

   
}

.aboutMe{
     color: #edf3f4 !important; 
     
     font-size: 132px;
    font-weight: 600;
}

.know{
    font-size: 36px;
    font-weight: 600;
    font-family: Poppins-meduim;
}

.list-style-2 >li{
    border-bottom: 1px solid #eaeaea;
    list-style-type: none;
    padding-bottom: 12px;
    padding-top: 12px;
}
#lastli{
    border-bottom:none
}

.cv{
    font-weight: 500;
    background-color:#20c997 ;
    color: white;
    padding: .8rem 2.6rem;
    font-family:Poppins-meduim ;

}

.cv:hover{
    color: white;
    background-color:#19b385 ;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.featured-box h4{
    font-size: 48px;
    font-weight: 500;
    color: #6C757D;
}

.featured-box-icon{
    width: 70px;
    height: 70px;
}

.fas{
    color: #20c997;
}

.servicesH3 h3{
    font-size: 20px;
    font-family: Poppins-meduim;

}

.dateInResume{
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    background-color:#20c997 ;
    color: white;
}

.hInResume{
    font-size: 21px;
    font-family: Poppins-meduim;
}

.pInResume{
    color: #4C4D4D;
    line-height: 28.8px;
}


.progress-bar{
    background-color: #20c997;

}

.progress{
    height: .5rem;
}

.Portfolio ul li{
    color: #7B8084;
    padding-left: 20px;
    cursor: pointer;
}

.Portfolio ul li:hover{
    color: #20c997;
}



.pSkills{
    font-family: Poppins-meduim;
}


/* .navbar-toggler{
    position: absolute;
    right: 0;
    top: 0;
    margin-left : 16px;
    border: none;
} */

/* button:focus:not(:focus-visible) {
    outline: 0;
    position: relative;
    right: 0;
    top: 0;
    margin-left : 16px;
    border: none;
} */

.Simone{
    color: #20c997;
}
.Simone:hover{
    cursor: pointer;
    color:#19b385;
}


.listFooter:hover{
    cursor: pointer;
    color: #20c997;

}



